.player1{background-color: lightblue;
margin: 15px; padding:10px;border-radius: 10px;}
.player2{background-color: lightcoral;
margin: 15px; padding: 10px;border-radius: 10px;}
.btn {margin:20px;}
.row{margin:Auto;}
h2{margin:auto;text-align: center;}\

